<div class="mainaccordian-section" >
  {% if section.settings.heading !=  blank %}<h2 class="mainheading white1">{{ section.settings.heading }}</h2>{% endif %}
  <div class="accordian-customwidth">
    <div class="accordian-section">
      <div class="week_img width10">
        <img src="https://cdn.shopify.com/s/files/1/0826/8857/3779/files/Group_31.png?v=1723805160" class="w_img" alt="">
      </div>
      <div class="width40">
        {% for block in section.blocks %}
          {% if block.settings.accordianquestion !=  blank %}
            <details name="accordion-demo" {% if forloop.index == 1 %} open{% endif %}>
              <summary class="accordianheading"><i class="fa-sharp fa-solid fa-caret-right week_icon"></i>{{ block.settings.accordianquestion }}</summary>
              <div class="customcontent">
                  {% if block.settings.accordiananswerheading  != blank %} </i><div class="accordiancontentheading">{{ block.settings.accordiananswerheading }}</div>{% endif %}
                  {% if block.settings.accordiananswercontent != blank %}
                    <div class="accordiancontent">
                      {{ block.settings.accordiananswercontent }}
                    </div>
                  {% endif %}
              </div>
            </details>
          {% endif %}
        {% endfor %}
      </div>
      {% if section.settings.imglink  != blank %}
        <div class="width50">
          <img src="{{ section.settings.imglink | img_url:'master' }}" class="faceimg">
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Accordian with image",
  "class": "accordian-with-image",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Results over time",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "image_picker",
      "id": "bgimg",
      "label": "Background img"
    },
    {
      "type": "image_picker",
      "id": "imglink",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "accordian",
      "name": "Accordian",
      "settings": [
          {
            "type": "text",
            "id": "accordianquestion",
            "label": "Accordian Question"
          },
          {
            "type": "richtext",
            "id": "accordiananswerheading",
            "label": "Accordian Answer Heading"
          },
          {
            "type": "richtext",
            "id": "accordiananswercontent",
            "label": "Accordian Answer content"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordian with image"
    }
  ]
}
{% endschema %}
<style>
  .mainaccordian-section {
    background-color: #4b4b4b !important;
   background-repeat: no-repeat;
   background-size: cover;
    padding: 50px 0 0;
  }
  .accordian-customwidth {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .accordian-section {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #808194;
    padding-bottom: 50px;
  }
  .week_icon{
    margin-right: 10px;
  }
  .width50 {
    width: 50%;
  }
  .width40 {
    width: 40%;
  }
  .width10 {
    width: 10%;
  }
  .faceimg {
    width: 100%;
  }
  details[open] > summary {
    color: #a4a29f;
  }
  .accordianheading {
    font-size: 24px;
    color: #efede9;
    font-weight: 600;
    font-family: Poppins;
  }
  .accordiancontentheading {
    padding-bottom: 10px;
    font-size: 20px;
    color: #efede9;
    font-family: Poppins;
  }
 .week_img .w_img{
  width: 100%;
 }
  .accordiancontent {
    font-size: 18px;
    color: #ffffff;
    font-family: Poppins;
  }
  .customcontent {
    padding: 20px;
  }
  .accordianheading ::marker {
    unicode-bidi: isolate !important;
    font-variant-numeric: tabular-nums !important;
    text-transform: none !important;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }
  @media screen and (max-width: 768px) {
    .accordian-section {
      flex-wrap: wrap;
      padding-left: 20px;
      padding-right: 20px;
    }
    .width50 {
      width: 100%;
    }
    .width40 {
      width: 85%;
    }
    .width10 {
      width: 15%;
    }
  }
  @media screen and (max-width: 576px) {
   .week_img{
    display: none;
   }
   .width40 {
      width: 100%;
    }
  }
</style>