{% if section.settings.imglink != blank %}<div class="custom-bgimage">{% endif %}
  <div class="accordion_section">
    {% if section.settings.heading != blank %}<div class="accordion_heading mainheading">{{ section.settings.heading }}</div> {% endif %}
      {% for block in section.blocks %}
         {% if block.settings.accordianquestion != blank %}
            <div class="accordion">
              {{ block.settings.accordianquestion }}
              <i class="fa-sharp fa-solid fa-caret-down a_arrow"></i>
            </div>
            <div class="accordion-content">
              {% if block.settings.accordiananswercontent != blank %}
                  <div class="accordion-paragraph">
                  {{ block.settings.accordiananswercontent }}
                  </div>
              {% endif %}
            </div>
          {% endif %}
      {% endfor %}
  </div>
{% if section.settings.imglink != blank %}</div> {% endif %}
{% schema %}
{
  "name": "Bg image accordian",
  "class": "background-image-accordian-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Frequently Asked Questions",
      "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
    },
    {
      "type": "image_picker",
      "id": "imglink",
      "label": "Background Image of Desktop"
    },
    {
      "type": "image_picker",
      "id": "imglinkmob",
      "label": "Background Image of Mobile"
    }
  ],
  "blocks": [
    {
      "type": "accordian",
      "name": "Accordian",
      "settings": [
          {
            "type": "text",
            "id": "accordianquestion",
            "label": "Accordian Question"
          },
          {
            "type": "richtext",
            "id": "accordiananswercontent",
            "label": "Accordian Answer content"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bg image accordian"
    }
  ]
}
{% endschema %}
<style>
  .custom-bgimage {    
    background-image: url('{{ section.settings.imglink  | img_url: 'master' }}');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 700px;
  }

  .accordion_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 40%;
    margin-top: 5%;
    padding: 150px 20px;
  }

  .accordion_heading {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
  }

  .accordion {
    max-width: 100%;
    border: none;
    background-color: #efede9;
    outline: none;
    text-align: left;
    padding: 20px 20px;
    margin: 10px 0px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion_icon {
    font-size: 18px;
    float: right;
  }

  .accordion.is-open {
    background-color: #efede9;
    border-bottom: 1px solid #808194;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    transition: all 0.7s;
  }
  .accordion.is-open .a_arrow{
    rotate: 180deg;
    transition: all 0.7s;
    
  }
  .a_arrow{
    color: #A4A29F;
  }
  .accordion-content {
    color: black;
    padding: 0px 20px;
    background-color: #efede9;
    margin-top: -10px !important;
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    transition: max-height 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .accordion-paragraph {
    padding: 15px;
  }

  @media (max-width: 768px) {
    .accordion_section {
      width: 100%;
      padding: 20px;
      margin-left: unset;
      margin-top: 5%;
      padding: 50px 20px;
    }

    .custom-bgimage {
      background-image: url('{{ section.settings.imglinkmob  | img_url: 'master' }}');
      background-size: cover;
      height: auto;
    }
  }
</style>
<script>
  const accordionBtns = document.querySelectorAll('.accordion');

  accordionBtns.forEach((accordion) => {
    accordion.onclick = function () {
      this.classList.toggle('is-open');

      let content = this.nextElementSibling;
      console.log(content);

      if (content.style.maxHeight) {
        //this is if the accordion is open
        content.style.maxHeight = null;
      } else {
        //if the accordion is currently closed
        content.style.maxHeight = content.scrollHeight + 'px';
        console.log(content.style.maxHeight);
      }
    };
  });
</script>
