<div class="main">
      <div class="mask-container">
        {% if section.settings.heading != blank %}<h2 class="mainheading white1">{{ section.settings.heading }}</h2>{% endif %}
        <div class="mask">
          <div class="clsleft">
            {% if section.settings.imglink  != blank %}<img src="{{ section.settings.imglink | img_url:'master' }}" alt="Theravivo Mask" class="image" />{% endif %}
          </div>
          <div class="clsright">
            <div class="content_text">
            {% if section.settings.subheading != blank %}<div class="clsright_title">{{  section.settings.subheading }}</div>{% endif %}
            {% if  section.settings.blockheading != blank %}<p class="Instructions">{{ section.settings.blockheading }}</p> {% endif %}
              {% for block in section.blocks %}
                  {% if block.settings.textcontent  != blank %}
                    <div class="step">
                      <div class="step-number">{{ forloop.index }}</div>
                      <div class="step-description">
                        {{ block.settings.textcontent }}
                      </div>
                    </div>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% schema %}
    {
      "name": "Custom image text",
      "class": "custom-image-text-section",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "How to use",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Comment utiliser votre Masque LED <br/>Theravivo à Nano-Emission Photonique",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "text",
          "id": "blockheading",
          "default": "Instructions d'utilisation:",
          "label": "Content Heading"
        },
        {
          "type": "image_picker",
          "id": "imglink",
          "label": "Image"
        }
      ],
      "blocks": [
        {
          "type": "accordian",
          "name": "t:sections.email-signup-banner.blocks.heading.name",
          "settings": [
              {
                "type": "richtext",
                "id": "textcontent",
                "label": "content"
              }
          ]
        }
      ],
      "presets": [
        {
          "name": "Custom image text"
        }
      ]
    }
{% endschema %}
<style>
    .main {
      background-color: #4b4b4b;
      padding: 50px 0;
    }
    .mask {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .mask-container {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
    .clsleft {
      width: 50%;
      padding: 20px;
    }
    .content_text {
      /* margin-top: 50px; */
    }
    .clsright {
      width: 50%;
      padding: 20px;
      color: #fff;
    }
    .heading {
      text-align: center;
      font-size: 32px;
      color: white;
      margin-bottom: 20px;
      font-family: Poppins;
    }
    .clsright_title {
      font-size: 25px;
      line-height: 33px;
      color: #EFEDE9;
      font-family: Poppins;
    }
    .Instructions {
      font-size: 24px;
      font-family: Poppins;
    }
    .step {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .step-number {
      background-color: #4b4b4b;
      color: #fff;
      border-radius: 50%;
      border: 1px solid #fff;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    .step-description {
      line-height: 1.5;
      font-family: Poppins;
      font-size: 18px;
      color: #ffffff;
    }

    .image {
      width: 100%;
      height: auto;
    }

    @media (max-width:1024px){
        .image{
            margin-top: 50px;
        }
    }

    @media (max-width: 768px) {
      .mask {
        display: block;
      }
      .clsright {
        width: 100% !important;
        margin-top: 0px;
      }
      .clsleft {
        width: 100%;
      }
      .image{
        margin-top: 0px;
      }
    }
    @media (max-width: 576px) {
      .step{
        margin-bottom: 0;
      }
    }
  </style>