
<div class="Nano_Photonic_section" style="background-image: url('{{ section.settings.bgimg | img_url:'master' }} '); ">
  <div class="container page-width">
      <div class="Nano_content">
         <h1 class="mainheading">{{ section.settings.nanoh1 }}</h1>
         <p class="Nano_p">{{ section.settings.nanop1 }}</p>
         <p class="Nano_p">{{ section.settings.nanop2 }}</p>
      </div>
  </div>
   <div class="Nano_Photonic_details">
      {%- for block in section.blocks -%}
       <div class="Nano_details_box">
          {% if block.settings.sectionimg != blank %}
         <div class="nano_img_box">  <img src="{{ block.settings.sectionimg | img_url:'master' }}" alt=""> 
         </div>
           {% endif %}
         <div class="nano_content_box">{{ block.settings.contenttext }}</div>
       </div>
     {% endfor %}
   </div>
</div>
 
 {% schema %}
  {
    "name": "Nano-Photonic Section",
    "settings": [
        {
           "type": "image_picker",
           "id": "bgimg",
           "label": "Background img"
         },
        {
           "type": "text",
           "id": "nanoh1",
           "label": "Heading text"
         },
        {
           "type": "text",
           "id": "nanop1",
           "label": "Paragraph 1"
         },
        {
           "type": "text",
           "id": "nanop2",
           "label": "Paragraph 2"
         }
    ],
    "blocks": [
    {
      "name": "blocks",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "sectionimg",
          "label": "Add img"
        },
        {
          "type": "text",
          "id": "contenttext",
          "label": "Add text"
        }
      ]
    }
  ],
     "presets": [
    {
      "name": "Nano-Photonic Section",
    }
  ]
  }
{% endschema %}

<style>
    .Nano_Photonic_section{
      padding:80px 0;
      /* margin-bottom: 118px; */
      position:relative;
      background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    
    }
    .Nano_content{
      text-align:center;
    }
    .Nano_content .mainheading{
      color:#ffffff  !important;
    }
    .Nano_content .Nano_p{
      color:#ffffff  !important;
       font-size: 20px;
       font-weight: 300;
       font-family: "Poppins", sans-serif;
       line-height: 28px;
    }
    .Nano_details_box .nano_content_box{
        font-size:20px;
       color:#00071E;
      font-weight: 600;
    min-height: 45px;
    }
    .Nano_Photonic_details{
      display:flex;
      flex-wrap:wrap;
      background-color:#EFEDE9;
      border-radius: 24px;
      padding: 10px 0px;
     border: 2px solid #ffffff;
      box-shadow: 0px 10px 15px #00000080;
}
    .Nano_details_box{
      padding:10px;
      width:20%;
      text-align: center;
    }
.nano_img_box{
      min-height: 80px;
      display: flex;
    justify-content: center;
    align-items: center
}

@media (max-width:1200px){
  .Nano_Photonic_section{
      /* margin-bottom: 264px; */
            /* margin-bottom: 184px; */
        padding-bottom: 12%;
    }
    .Nano_details_box{
      width:33%;
    }
  .Nano_Photonic_details{
    justify-content:center;
  }
  .Nano_Photonic_details{
    top: 73%;
  }
}
@media (max-width:1200px){
  .Nano_Photonic_section{
      /* margin-bottom: 264px; */
            /* margin-bottom: 184px; */
        padding-bottom: 14%;
    }
  
}
@media (max-width:900px){
  .Nano_Photonic_section{
      /* margin-bottom: 190px; */
        padding-bottom: 17%;
    }
  .Nano_details_box .nano_content_box{
        font-size:16px;
    }
    .Nano_content .Nano_p{
       font-size: 16px;
    }
}
@media (max-width:768px){
  .Nano_Photonic_section{
            /* margin-bottom: 184px; */
        padding-bottom: 20%;
    }
    .Nano_Photonic_details{
    top: 76%;
  }

}
@media (min-width:650px){
  .Nano_Photonic_details{
       position:absolute;
    left:15%;
      right:15%;
      
 
    }
}
@media (max-width:650px){
      .Nano_Photonic_section {
        margin-bottom: 0;
        padding-bottom: 40px;
        
    }
   .Nano_Photonic_details{
        margin:10px;
     top: 83%;
    }
  .Nano_details_box {
        width: 50%;
    }
}
</style>